# LINEAR REGRESSION

LIBRARIES

In [72]:
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

DATASET

In [73]:
df = pd.read_csv('clothes_price_prediction_data.csv')
df.head(10)

          Brand Category   Color Size   Material  Price
0   New Balance    Dress   White   XS      Nylon    182
1   New Balance    Jeans   Black   XS       Silk     57
2  Under Armour    Dress     Red    M       Wool    127
3          Nike    Shoes   Green    M     Cotton     77
4        Adidas  Sweater   White    M      Nylon    113
5        Reebok   Jacket     Red   XL      Nylon     19
6          Puma   Jacket     Red  XXL  Polyester     31
7        Adidas    Dress     Red   XS      Denim     46
8        Reebok    Dress   Black    S       Wool     97
9        Adidas    Jeans  Yellow    L       Wool     80

In [74]:
df.describe()

             Price
count  1000.000000
mean    106.289000
std      53.695444
min      10.000000
25%      59.750000
50%     108.000000
75%     150.000000
max     199.000000

CLEAN DATA

In this dataset, there are five categorical columns and we are going to create a dummy columns for them.

In [75]:
df_cleaned = df.copy()

In [76]:
price = df_cleaned.loc[:,'Price']
features = df_cleaned.drop('Price', axis='columns', inplace=False)

In [25]:
df_cleaned['Dress'] = (df_cleaned['Category'].loc[:] == 'Dress').astype(int)

In [61]:
df_cleaned.head()

          Brand Category  Color Size Material  Price
0   New Balance    Dress  White   XS    Nylon    182
1   New Balance    Jeans  Black   XS     Silk     57
2  Under Armour    Dress    Red    M     Wool    127
3          Nike    Shoes  Green    M   Cotton     77
4        Adidas  Sweater  White    M    Nylon    113

In [77]:
ready_values = {}
for column in features:
   for value in features[column]:
       if value not in ready_values:
           features[value] = (features[column].loc[:] == value).astype(int)

In [79]:
features.head()

,Brand,Category,Color,Size,Material,New Balance,Under Armour,Nike,Adidas,Reebok,...,XL,XXL,S,L,Nylon,Silk,Wool,Cotton,Polyester,Denim
0,New Balance,Dress,White,XS,Nylon,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,New Balance,Jeans,Black,XS,Silk,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,Under Armour,Dress,Red,M,Wool,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,Nike,Shoes,Green,M,Cotton,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Adidas,Sweater,White,M,Nylon,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    features, price, test_size=0.20, random_state=42)